/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;0,6..12,900;1,6..12,300;1,6..12,400;1,6..12,700;1,6..12,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

/* Header styling */
header {
    background-color: aquamarine;
    font-family: 'Lato', sans-serif;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 2px seagreen;
}

header h1 {
    text-align: center;
    color: seagreen;
}

header a {
    text-align: center;
    color: seagreen;
    text-decoration: none;
}

header p {
    text-align: center;
    color:seagreen;
}

#header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
}

/* Hide nav-toggle checkbox */
#nav-toggle {
    display: none;
}

/* Checking the checkbox makes nav menu appear, unchecking makes it disappear again. */
#nav-toggle:checked~nav {
    display: block;
}

/* nav menu initially hidden */
nav {
    position: absolute;
    color: white;
    width: 100%;
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
}

/* main section styling */

main {
    background-color: bisque;
    padding-top: 60px;
}

/* footer styling */

footer {
    background-color: skyblue;
    margin-top: auto;
}

