/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;0,6..12,900;1,6..12,300;1,6..12,400;1,6..12,700;1,6..12,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Body styling */
body {
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    color: seagreen;
}


/* default simple animation of all link elements on site */
.icon-grow,
.text-grow {
    transition: all .2s ease-in-out;
}

/* the icons need to grow a little more than the text */
.text-grow:hover,
.text-grow:active {
    transform: scale(1.1);
}

.icon-grow:hover,
.icon-grow:active {
    transform: scale(1.2);
    border-top: 1px solid seagreen;
}


/* Header styling */
header {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    background-color: seagreen;
    font-family: 'Lato', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: 0 2px 2px rgb(18, 55, 34);
    justify-content: space-between;
    padding: 20px 1rem;
}

/* ANCHOR LINKS */
/* Offsets any jump to any anchor link from any anchor link to prevent the anchor point being covered by the header. Adjust the px when changing the header height.  */
/* 'scroll-behavior: smooth;' turns what would otherwise have been a sudden jump into a smooth scrolling movement. */
body,
html {
    scroll-padding-top: 87px;
    scroll-behavior: smooth;
}

/* Hide nav-anchor-toggle checkbox */
#nav-anchor-toggle {
    display: none;
}

/* Checking the nav-anchor checkbox makes nav-anchor menu appear, unchecking makes it disappear again. Using id as this is a 1-1 check. */
#nav-anchor-toggle:checked~#nav-anchor {
    display: flex;
    flex-direction: column;
}

#nav-anchor {
    display: none;
    position: absolute;
    background-color: #fafafa;
    right: 15px;
    box-shadow: 0 2px 2px rgb(18, 55, 34);
    position: absolute;
    top: 100%;
    color: seagreen;
    align-content: flex-end;
    justify-content: space-between;
}

#nav-anchor i {
    margin: 3px 3px;
}

/* overlapping small icons on the left of the header */
/* icon container */
.anchor-icon-container {
    margin: 6px;
    height: 30px;
    width: 24px;
    position: relative;
}

/* all three small icons on left of header */
.anchor-icon-container .fa-solid {
    font-size: 12px;
    background-color: seagreen;
    color: #fafafa;
    position: absolute;
    padding: 1px;
    border-radius: 2px;
    margin-top: 4px;
    margin-right: 4px;
}

/* small tractor icon */
.anchor-icon-container .fa-tractor {
    top: 3;
    left: 3;
    z-index: 1;
}

/* small robot icon */
.anchor-icon-container .fa-robot {
    top: 7px;
    left: 9px;
    z-index: 2;
}

/* small AI icon */
.anchor-icon-container .fa-brain {
    top: 15px;
    left: 3;
    z-index: 99;
}

/* icon menu */
.nav-anchor {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 15px;
    width: 140px;
    height: 120px;
    justify-content:center;
    align-content: space-around;
}

.nav-anchor a {
    text-decoration: none;
    align-self: left;
    padding-left: 5px;
    margin: 1px;
    color: #2e8b57;
    font-weight: 500;
}

.nav-anchor a:first-child {
    margin-top: 6px;
}

.nav-anchor a:last-child {
    margin-bottom: 6px;
}

.nav-anchor i {
    color: seagreen;
    background-color: #fafafa;
}


/* main header title text */
.logo-title {
    text-align: center;
    letter-spacing: 1px;
    color: #fafafa;
    font-size: 130%;
    text-transform: uppercase;
}

/* sub-heading */
.logo-subtitle {
    text-align: center;
    font-size: 100%;
    color: #fafafa;
}

.logo-heading a {
    text-decoration: none;

}

/* Hide nav-site-toggle checkbox */
#nav-site-toggle {
    display: none;
}

/* Checking the nav-site checkbox makes nav-site menu appear, unchecking makes it disappear again. Using id as this is a 1-1 check. */
#nav-site-toggle:checked~#nav-site {
    display: block;
}

/* nav-site (initially hidden) */
#nav-site {
    background-color: #fafafa;
    padding: 0 14px;
    display: none;
    position: absolute;
    top: 100%;
    right: 15px;
    border-top: 1px solid #fafafa;
    box-shadow: 0 2px 2px rgb(18, 55, 34);
}

#nav-site .menu {
    background-color: #fafafa;
    color: seagreen;
    width: 110px;
    top: 100%;
    list-style: none;
}

#nav-site li {
    color: seagreen;
    background-color: #fafafa;
    margin-top: 4px;
    margin-bottom: 4px;
}

#nav-site a {
    text-decoration: none;
    color: seagreen;
    font-weight: 500;
}

.nav-site-toggle-label {
    font-size: 2rem;
    color: #fafafa;
    align-self: center;
}


/* underline link to active page on nav-site menu */
.active {
    border-bottom: 1px solid seagreen;
}


/* main section styling */
main {
    background-color: white;
    flex: 1 0 auto;
    top: 87px;
    overflow: hidden;
    overflow-y: scroll;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero_robots_in_farming.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(46, 139, 87, .6);
    color: #fafafa;
    font-size: 110%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 150px;
    padding: 40px 20px;
}

#cover-text h1 {
    font-weight: 700;
}

/* breakthroughs section */
#breakthroughs h2 {
    text-align: center;
    margin: 15px 15px;
}

.left {
    text-align: left;
    margin: 0 10px;
}

.right {
    text-align: right;
    margin: 0px 10px;
}

.tap-for-modal {
    font-size: 130%;
    padding: 3px 0;
}

.primary {
    height: 2px;
    border-width: 0;
    color: seagreen;
    background-color: seagreen;
    margin-bottom: 5px;
}

.secondary {
    height: 1px;
    border-width: 0;
    color: seagreen;
    background-color: seagreen;
    margin-bottom: 15px;
}

#robotics,
#artificial-intelligence {
    margin-top: 10px;
}

/* Events styling */
#events-title {
    text-align: center;
}

#upcoming-events-subtitle,
#recent-events-subtitle {
    text-align: center;
}

#upcoming-events,
#recent-events {
    color: #fafafa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#upcoming-events {
    background: url("../images/strawberries-field.webp") no-repeat center/cover;
}

#recent-events {
    background: url("../images/laser-weeding-at-sunset.webp") no-repeat center/cover;
}

.upcoming,
.recent {
    min-width: 120px;
    max-width: 400px;
    margin: 10px 10px;
    padding: 0 45px;
    text-indent: -15px;
    flex-grow: 1;
}

.upcoming {
    background-color: rgba(46, 139, 87, .7);
}

.recent {
    background-color: rgba(40, 85, 40, .7);
}

/* Subscribe page */

#subscribe-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-image: url('../images/agricultural-drone.webp');
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    margin-top: 47px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    padding: 30px;
    margin: 20px 10px;
}

#subscribe h2 {
    color: black;
    margin-bottom: 20px;
}

#shaded-area {
    background-color: rgba(250, 250, 250, .8);
}

#text-inputs {
    display: flex;
    flex-direction: column;
}

.text-input {
    height: 25px;
    background-color: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 2px;
}

#radio-buttons {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid seagreen;
    height: 100%;
    padding: 5px;
}



.radio-label {
    float: right;
    width: 10em;
    margin-left: 1em;
}

.subscribe-button {
    margin-top: 20px;
    border-radius: 2px;
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
    padding: 15px 32px 15px 32px;
}

/* footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fafafa;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

footer>ul#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    flex: 1;
    width: 100%;
}

ul#social-networks a {
    color: seagreen;

}

/* imprimatur button */
footer button {
    flex: 1;
    max-width: 90px;
    min-width: 60px;
    background-color: seagreen;
    color: #fafafa;
    border-radius: 20%;
    box-shadow: inset;
}

/* code for header other than on homepage */

#home-icon {
    font-size: 30px;
    background-color: seagreen;
    color: #fafafa;
    position: absolute;
    border-radius: 2px;
    margin-top: 12px;
    height: 80%;
    position: relative;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {}

/* Media query: large-screen phones or landscape views (576px and upwards) */
@media screen and (min-width: 576px) {}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {}


/* Large desktops */
@media screen and (min-width: 1200px) {}