/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;0,6..12,900;1,6..12,300;1,6..12,400;1,6..12,700;1,6..12,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* Header styling */
header h1 {
    text-align: center;
    color: seagreen;
}

header a {
    text-align: center;
    color: seagreen;
    text-decoration: none;
}

header p {
    text-align: center;
    color:seagreen;
}

